$pin-width: 20px;
$pin-length: 40px;

#chip-view {
  &.soic {
    display: inline-flex;
    flex-direction: row;

    .soic-left,
    .soic-middle,
    .soic-right {
      display: flex;
      flex-direction: column;
    }
    .soic-middle {
      width: 75px;
      border: 1px solid black;
      .soic-pin1-marker {
        height: 10px;
        width: 10px;
        border: 1px solid black;
        border-radius: 5px;
        margin-left: 10px;
        margin-top: 10px;
      }
    }
    .soic-left {
      .soic-pin {
        flex-direction: row-reverse;
      }
    }
    .soic-pin {
      display: flex;
      justify-content: flex-start;
      flex-basis: $pin-width;
      flex-grow: 0;
      //align-items: center;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    .soic-top {
      .soic-pin {
        flex-direction: column-reverse;
      }
    }
    .soic-bottom {
      .soic-pin {
        flex-direction: column;
      }
    }
    .soic-pin-leg {
      height: $pin-width;
      width: $pin-length;
      border: 1px solid black;
    }
  }
}
